.DS_Store
.vagrant
.idea
.idea/*
*.bak
.project
.settings
.buildpath
tmp/
config/local
config/test
/vendor
/node_modules
/doc
.env
.env.example
*.swp
.swo
.tags
.tags1
/public/admin.php
apidoc.json
/public/docs
/public/assets
